body{
    background-image: url(../assets/images/hd-for-pc-wallpapers_291743121.jpg)
}
.card{
    background-color: #f5f5f596;
    font-family: 'ZCOOL XiaoWei', serif;
   
}
.card-header{
    font-size: 20px;
    font-weight: bold;
}
